@font-face {
  font-family: "IBM Plex";
  src: url("../fonts/IBMPlexSansCondensed-Light.woff") format("truetype");
  font-weight: 200;
  font-style: normal;
}

.main-box {
  width: 100vw;
  height: 100vh;
  font-family: "IBM Plex";
}
canvas {
  width: 300px;
  height: 600px;
  font-family: "IBM Plex";
}
.wrap canvas {
  position: fixed;
  /* top: -50vh; */
  height: 100vh !important;
  width: 200vw !important;
}
