@font-face {
  font-family: "IBM Plex";
  src: url("./fonts/IBMPlexSansCondensed-Light.woff") format("truetype");
  font-weight: 200;
  font-style: normal;
}
:root {
  font-family: "IBM Plex";
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
  cursor: crosshair;
}
body::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(197, 197, 197);
  font-size: 18px;
  line-height: 20px;
}
a {
  /* color: rgb(184, 255, 43); */
  color: black;

  text-decoration: none;
}
a:hover {
  font-style: italic;
  text-decoration: underline;
}
@media only screen and (max-width: 400px) {
  body {
    font-size: 14px;
    line-height: 20px;
  }
}
